html, button, input, select, textarea {color: #222;}
body {font-size: 62.5%;line-height: 1.5;background:#271a14;font-family:Helvetica, Arial, sans-serif;color:#3f3f3f;}
::-moz-selection {background:#bdd748;color:#fff;text-shadow:none;}
::selection {background:#bdd748;text-shadow:none;}
assets/img {vertical-align:middle;}
fieldset {border:0;margin:0;padding:0;}
textarea {resize:vertical;}
.chromeframe {margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}



/* ==========================================================================
   Custom Fonts (Dax Bold)
   ========================================================================== */
   
@font-face {font-family: 'Dax Bold';src: url('/assets/fonts/dax-bold-webfont.eot');src: url('/assets/fonts/dax-bold-webfont.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/dax-bold-webfont.woff') format('woff'),url('/assets/fonts/dax-bold-webfont.ttf') format('truetype'),url('/assets/fonts/dax-bold-webfont.svg#Dax Bold') format('svg');font-weight: normal;font-style: normal;}



/* ==========================================================================
   Elements (Floated images, Divides, lists, tables, forms)
   ========================================================================== */

/* floated images */
.left-img {float:left;padding:0 25px 0 0;}
.right-img {float:right;padding:15px 0 0 25px;}

/* Divides */
.divide {height:7px;display:block;margin:0;}
.divide.red {background:url(/assets/img/main/divide-red.gif) 0 0 no-repeat;}
.divide.head1 {margin:10px 0 25px;}
aside .divide {margin:20px 0 25px;background:url(/assets/img/aside/divide.gif) 0 0 no-repeat;}
hr {display:block;height:1px;border:0;margin:20px 0;padding:0;background:none;}
.dashed-divide {border-bottom:2px dashed #eee;}

/* Lists */
ul.tick, ul.arrow {margin:-10px 20px 0;list-style:none;background:none;}
ul.tick li, ul.arrow li {margin:0 0 25px 0;padding:0;font-size:1.4em;line-height:1.5;}
ul.tick li {background:url(/assets/img/tick-bullet.gif) 0 1px no-repeat !important;padding-left:24px !important;}
ul.arrow li {background:url(/assets/img/arrow-bullet.gif) 0 4px no-repeat !important;padding-left:14px !important;margin-bottom:15px !important}

/* table */
table {margin-bottom:35px;}
table th {text-align:left;}
table th, table td {font-size:1.3em;margin:0;padding:20px 10px;border-top:1px solid #ccc;}
table tr.hilight td {font-size:1.4em;font-weight:bold;background:#eee;border:none;}

/* forms */
form {padding:30px 20px 20px; background: #f5f5ed;background-image: linear-gradient(bottom, rgb(255,255,255) 28%, rgb(245,245,237) 100%);background-image: -o-linear-gradient(bottom, rgb(255,255,255) 28%, rgb(245,245,237) 100%);background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 28%, rgb(245,245,237) 100%);background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 28%, rgb(245,245,237) 100%);background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 28%, rgb(245,245,237) 100%);background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.28, rgb(255,255,255)),color-stop(1, rgb(245,245,237)));}
form .left {width:275px;float:left;}
form .right {width:275px;float:right;}
form label {font-size:1.7em;line-height:1.3;float:left;width:100%;color:#3F3F3F;padding:0 0 8px 0;font-family:'Dax Bold';text-shadow:2px 2px #eee;}
form span {color:#ccc;font-size:1em;}
input, select, textarea {width:253px;height:35px;font-family:Helvetica, Arial, sans-serif;font-size:1.4em;border:1px solid #DDDDDD;padding:0 10px;line-height:35px;margin-bottom:30px;outline:none;}
textarea {width:563px;height:200px;resize:none;outline:none;padding-top:5px;padding-bottom:5px;}
input.submit {width:144px;height:46px;text-align:left;font-family:'Dax Bold';color:#fff !important;text-shadow:1px 1px #674131;font-size:1.6em;line-height:1;font-weight:normal;border:none;display:block;margin-left:-8px;padding:0 0 7px 17px;overflow:hidden;background:url(/assets/img/btn.png) 0 0 no-repeat;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
input.submit:hover {background-position:0 -46px;}

/* form validation */
form .error {border:1px solid #AA3232;}
form p.submit-error {background:#AA3232;border-radius: 5px 5px 5px 5px;color: #FFFFFF;display: none;font-size: 1.4em;margin:0 !important;padding:1.2em 0;position: relative;text-align: center;}

/* IE Fix */
.lt-ie8 form span {display:inline-block;position:relative;top:-15px;}


   
/* ==========================================================================
   Typography & Links
   ========================================================================== */
   
h1, h2, h3, h4, p.heading {font-family:'Dax Bold';font-weight:normal;margin:0;padding:0;}
.top {margin-top:0 !important;}
p {font-size:1.4em;line-height:1.6;margin:0 0 20px;}
a {padding-bottom:1px;text-decoration:none;font-weight:bold;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-ms-transition:all .4s ease;-o-transition:.4s ease;transition:all .4s ease;}

/* buttons */
a:hover {border-bottom:dotted;border-width:1px;}
a.btn {font-family:'Dax Bold';color:#fff !important;text-shadow:1px 1px #674131;font-size:1.15em;line-height:1;font-weight:normal;border:none;display:block;width:127px;height:36px;margin-left:-8px;padding:10px 0 0 17px;overflow:hidden;background:url(/assets/img/btn.png) 0 0 no-repeat;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
a.btn:hover {background-position:0 -46px;}

/* arrow styling */
.arrow {background:url(/assets/img/arrow-bullet.gif) 0 5px no-repeat;padding-left:12px;}

/* Red, blue and yellow colouring */
.red h1, .red h2, .red h3, .red h4, .red a, .red figcaption, a.red {color:#f43c13;}
.yellow h1, .yellow a, .yellow figcaption, a.yellow {color:#f8ac2e;}
.blue h1, .blue a, .blue figcaption, a.blue {color:#049cf3;}


   
/* ==========================================================================
   Wrapper & Layout Styles
   ========================================================================== */

#wrapper, #header-wrapper, #education-wrapper, #content-wrapper, top-footer-wrapper, #bottom-footer-wrapper {width:100%;}
.lt-ie8 #wrapper {position:relative;overflow:hidden;}
#header-wrapper header, .layout {width:960px;margin:0 auto;position:relative;}



/* ==========================================================================
   Header & Navigation
   ========================================================================== */

#header-wrapper {height:435px;background:url(/assets/img/header/header-bg.png) 50% 0 no-repeat;}
#header-wrapper header {padding-top:355px;position:relative;}
#header-wrapper header h1.logo {background:url(/assets/img/header/logo.png) 0 0 no-repeat;display:block;text-indent:-9999em;position:absolute;top:10px;left:15px;}
#header-wrapper header h1.logo a {width:279px;height:164px;display:block;border:none;}
#header-wrapper header .farm-nursery {position:absolute;top:-5px;right:5px;}
#header-wrapper header nav {width:960px;height:65px;padding-top:15px;text-align:center;background:url(/assets/img/header/nav-bg.png) 0 0 no-repeat;}
#header-wrapper header nav ul {margin:0 auto;padding:0;}
.lt-ie7 #header-wrapper header nav ul { zoom: 1; } /* IE6 */
#header-wrapper header nav ul li {display:inline-block;text-align:center;margin:0 -3px 0 0;padding:0 1.5em;font-size:2em;font-family:'Dax Bold';background:url(/assets/img/header/nav-divide.png) 0 50% no-repeat;position:relative;}
.lt-ie8 #header-wrapper header nav ul li {float:left;}
#header-wrapper header nav ul li:first-child {background:none;}
#header-wrapper header nav ul li .lt-ie8 {zoom:1;display:inline;} /* ie7 fix */
#header-wrapper header nav ul li a, #header-wrapper header nav ul li:hover ul li a {color:#fff;text-shadow:2px 2px #974c0e;text-decoration:none;padding:0;border:none;font-weight:normal;}  
#header-wrapper header nav ul li a:hover, #header-wrapper header nav ul li:hover a, #header-wrapper header nav ul li:hover ul li a:hover {color:#ffdc5a;}

/* dropdown */
#header-wrapper header nav ul li ul {visibility:hidden;opacity:0;-webkit-transition-property:opacity,visibility;-moz-transition-property: opacity, visibility;-o-transition-property: opacity, visibility;transition-property: opacity, visibility;-webkit-transition-duration: .3s, 0s;-moz-transition-duration: .3s, 0s;-o-transition-duration: .3s, 0s;transition-duration: .3s, 0s;-webkit-transition-delay: 0s, .3s;-moz-transition-delay: 0s, .3s;-o-transition-delay: 0s, .3s;transition-delay: 0s, .3s;width:238px;padding-top:43px;position:absolute;top:25px;left:0;z-index:1;text-align:left;}
#header-wrapper header nav ul li:hover > ul {opacity:1;visibility:visible;-webkit-transition-delay: 0s, 0s;-moz-transition-delay: 0s, 0s;-o-transition-delay: 0s, 0s;transition-delay: 0s, 0s;}
#header-wrapper header nav ul li ul li {display:block;text-align:left;margin:0;padding:5px 0 14px 30px;font-size:.9em;background:url(/assets/img/header/dropdown-divide.png) 30px 100% no-repeat;}
#header-wrapper header nav ul li ul li a {text-shadow: 2px 2px #674131 !important;}
#header-wrapper header nav ul li ul li:first-child {background:url(/assets/img/header/dropdown-divide.png) 30px 100% no-repeat;}
#header-wrapper header nav ul li ul li:last-child {background:none}

/* dropdown backgrounds */
#header-wrapper header nav ul li.about ul {height:235px;background:url(/assets/img/header/dropdown-about-bg.png) 0 0 no-repeat;}
#header-wrapper header nav ul li.education ul {height:184px;background:url(/assets/img/header/dropdown-education-bg.png) 0 0 no-repeat;}
#header-wrapper header nav ul li.contact ul {height:140px;background:url(/assets/img/header/dropdown-contact-bg.png) 0 0 no-repeat;}

/* smaller screen sizes the contact dropdown goes off the page */
@media only screen and (max-width :1170px) { #header-wrapper header nav ul li.contact ul {left:-150px; background:url(/assets/img/header/dropdown-contact-alt-bg.png) 0 0 no-repeat;} }

/* IE Fixes */
.lt-ie8 #header-wrapper header,
.lt-ie8 #header-wrapper header nav,
.lt-ie8 #header-wrapper header nav ul {z-index:99;position:relative;}
.lt-ie8 #header-wrapper header nav ul {margin-left:20px;z-index:99;position:relative;}
.lt-ie8 #header-wrapper header nav ul li {float:left;/*z-index:99;position:relative;*/}
.lt-ie8 #header-wrapper header nav ul li ul {z-index:99;position:absolute;}
.lt-ie8 #header-wrapper header nav ul li ul li {float:left;width:100%;}
.lt-ie8 #header-wrapper header nav ul li.contact ul {left:-150px; background:url(/assets/img/header/dropdown-contact-alt-bg.png) 0 0 no-repeat;}



/* ==========================================================================
   Hero
   ========================================================================== */
   
/* hero */
#hero {width:100%;height:435px;position:absolute;z-index:-1;background:url(/assets/img/header/slider/slide-1.jpg) 50% 0 no-repeat #000;}

/* homepage slider */
body#home #hero div {width:100% !important;height:435px;overflow:hidden;}
body#home #hero .slide1 {background:url(/assets/img/header/slider/slide-1.jpg) 50% 0 no-repeat;}
body#home #hero .slide2 {background:url(/assets/img/header/slider/slide-2.jpg) 50% 0 no-repeat;}
body#home #hero .slide3 {background:url(/assets/img/header/slider/slide-3.jpg) 50% 0 no-repeat;}
body#home #hero .slide4 {background:url(/assets/img/header/slider/slide-4.jpg) 50% 0 no-repeat;}
body#home #hero .slide5 {background:url(/assets/img/header/slider/slide-5.jpg) 50% 0 no-repeat;}
body#home #hero .slide6 {background:url(/assets/img/header/slider/slide-6.jpg) 50% 0 no-repeat;}
body#home #hero .slide7 {background:url(/assets/img/header/slider/slide-7.jpg) 50% 0 no-repeat;}

/* other pages static images */
body#babies #hero {background:url(/assets/img/header/slider/slide-2.jpg) 50% 0 no-repeat #000;}
body#preschool #hero {background:url(/assets/img/header/slider/slide-3.jpg) 50% 0 no-repeat #000;}
body#toddlers #hero {background:url(/assets/img/header/slider/slide-4.jpg) 50% 0 no-repeat #000;}
body#nutrition #hero {background:url(/assets/img/header/slider/slide-5.jpg) 50% 0 no-repeat #000;}
body#education #hero {background:url(/assets/img/header/slider/slide-6.jpg) 50% 0 no-repeat #000;}
body#about #hero {background:url(/assets/img/header/slider/slide-7.jpg) 50% 0 no-repeat #000;}
body#whyus #hero {background:url(/assets/img/header/slider/slide-8.jpg) 50% 0 no-repeat #000;}
body#faqs #hero {background:url(/assets/img/header/slider/slide-9.jpg) 50% 0 no-repeat #000;}
body#tours #hero {background:url(/assets/img/header/slider/slide-14.jpg) 50% 0 no-repeat #000;}
body#ofsted #hero {background:url(/assets/img/header/slider/slide-11.jpg) 50% 0 no-repeat #000;}
body#fees #hero {background:url(/assets/img/header/slider/slide-13.jpg) 50% 0 no-repeat #000;}
body#contact #hero {background:url(/assets/img/header/slider/slide-12.jpg) 50% 0 no-repeat #000;}
body#willowsfarmvillage #hero {background:url(/assets/img/header/slider/slide-15.jpg) 50% 0 no-repeat #000;}
body#brochure #hero {background:url(/assets/img/header/slider/slide-1.jpg) 50% 0 no-repeat #000;}

/* IE Fix */
.lt-ie8 #hero {margin-left:-20px;}



/* ==========================================================================
   Home Education strip
   ========================================================================== */

#education-wrapper {min-height:350px;background:url(/assets/img/home-education/wrapper-bg.gif) 50% 0 no-repeat;}
#education-wrapper article {float:left;width:294px;border-right:1px solid #fff;margin-top:30px;padding:0 19px;}
#education-wrapper article p {font-size:1.3em;line-height:1.5}
#education-wrapper article.red {padding-left:0;}
#education-wrapper article.blue {padding-right:0;border:none;}
#education-wrapper article header {margin-bottom:7px;}
#education-wrapper article figcaption {margin-bottom:12px;padding:5px 8px 8px;font-weight:bold;font-size:1.2em;line-height:1;background:url(/assets/img/home-education/figcaption-bg.png) 0 0 no-repeat;}

/* typography */
#education-wrapper article h1 {font-size:2.8em;line-height:1;float:left;}
#education-wrapper article header a.btn {float:right;margin-top:5px;font-size:1.4em;}
#education-wrapper article p {color:#655a5a;}



/* ==========================================================================
   Main Content
   ========================================================================== */

#content-wrapper {padding:40px 0 200px;background:url(/assets/img/content-bg.jpg) 50% 100% no-repeat #fff;}
body#home #content-wrapper {padding-top:30px;}
#content-wrapper .main {float:left;width:625px;padding-top:10px;}
#content-wrapper .main h1, #content-wrapper .full h1 {font-size:3em;line-height:1.3;text-shadow:2px 2px #e6dcd9}
#content-wrapper .main h2, #content-wrapper .main h3, #content-wrapper .main h4,
#content-wrapper .full h2, #content-wrapper .full h3, #content-wrapper .full h4 {font-size:2.3em;line-height:1.3;text-shadow:2px 2px #e6dcd9;margin:35px 0 10px;}
#content-wrapper .main hgroup h2 {font-size:1.6em;margin:5px 0 0;}
#content-wrapper aside {width:295px;float:right;}
#content-wrapper aside h2, #content-wrapper aside h3 {font-size:2.4em;line-height:1;color:#fff;text-shadow:2px 2px #974c0e;width:295px;height:55px;margin-bottom:20px;padding:17px 0 0 23px;display:block;background:url(/assets/img/aside/header-bg.jpg) 0 0 no-repeat}
#content-wrapper aside p {margin-left:10px;margin-right:10px;}
#content-wrapper aside ul {list-style:none;margin-bototm:30px;}
#content-wrapper aside ul li {color:#727070;text-transform:uppercase;font-size:1.1em;margin:0;padding:0;background:url(/assets/img/aside/list-divide.gif) 0 100% no-repeat;}
#content-wrapper aside ul li:last-child {background:none;}
#content-wrapper aside ul li .wrap {display:block;padding:0 0 0 80px;}
#content-wrapper aside ul li.clock {padding-top:0;}
#content-wrapper aside ul li.clock .wrap {padding-bottom:10px;background:url(/assets/img/aside/clock.jpg) 2px 0 no-repeat;}
#content-wrapper aside ul li.mouse {padding-top:11px;}
#content-wrapper aside ul li.mouse .wrap {padding-bottom:23px;background:url(/assets/img/aside/mouse.jpg) 2px 0 no-repeat;}
#content-wrapper aside ul li.tel {padding-top:14px;}
#content-wrapper aside ul li.tel .wrap {background:url(/assets/img/aside/tel.jpg) 2px 0 no-repeat;}
#content-wrapper aside ul li .big {font-size:1.7em;color:#2f2f2f;text-transform:none;}
#content-wrapper aside ul li .notes {color:#727070;text-transform:uppercase;font-size:.91em;}
#content-wrapper aside ul li a.email {font-size:1.1em;text-transform:none;color:#2f2f2f;}

/* contact us signpost */
.contact-us {width:179px;height:112px;padding-top:18px;background:url(/assets/img/contact-sign.png) 0 0 no-repeat;position:absolute;bottom:-196px;right:40px;text-align:center;font-size:2.4em;}
.contact-us a {color:#fff;text-shadow:2px 2px #974c0e;font-family:'Dax Bold';font-weight:normal;}
.contact-us a:hover {border:none;color:#ffdc5a;}



/* ==========================================================================
   Footer
   ========================================================================== */

#top-footer-wrapper {padding:30px 0 20px;color:#e6d6cf;background:url(/assets/img/footer/bg.gif) 0 0 repeat-x;}
#top-footer-wrapper a {color:#e6d6cf;font-weight:normal;}
#top-footer-wrapper p {font-size:1.3em;}
#top-footer-wrapper p.heading {font-size:2em;margin-bottom:20px;text-shadow:2px 2px #674131;}
#top-footer-wrapper ul {list-style:none;}
#top-footer-wrapper ul li {font-size:1.3em;line-height:1.3;margin-bottom:12px;padding-left:20px;background:url(/assets/img/footer/bullet.png) 0 4px no-repeat;}
.footer1, .footer2, .footer3 {float:left;}

/* footer 1 */
.footer1 {width:430px;padding-right:50px;}
#top-footer-wrapper .footer1 ul {width:47.5%;}
#top-footer-wrapper .footer1 ul.left {float:left;}
#top-footer-wrapper .footer1 ul.right {float:right;}

/* footer 2 */
.footer2 {width:210px;}

/* footer 3 */
.footer3 {width:270px;}
#top-footer-wrapper .footer3 .map {float:left;}
#top-footer-wrapper .footer3 p.heading {width:auto;float:none;}
#top-footer-wrapper .footer3 p {width:160px;float:right;display:block;line-height:1.5;}
#top-footer-wrapper .footer3 a {font-weight:bold;}

/* bottom footer */
#bottom-footer-wrapper {color:#e6d6cf;background:#271a14;line-height:1;padding-top:25px;}
#bottom-footer-wrapper p {font-size:1.3em;line-height:1;}
#bottom-footer-wrapper p.left {float:left;}
#bottom-footer-wrapper p.right {float:right;}
#bottom-footer-wrapper a {color:#e6d6cf;margin:0 7px;}
#bottom-footer-wrapper a:last-child {margin-right:0;}





/* ==========================================================================
   Page Specific Styles
   ========================================================================== */
   

   
/* ==========================================================================
   Homepage
   ========================================================================== */
   
.left-assets/img {float:left;padding:0 25px 5px 0;}



/* ==========================================================================
   Frequently Asked Quetions
   ========================================================================== */

.st-accordion{width:625px;margin:0;}
.st-accordion ul li{height:60px;padding:0;border-bottom:2px dashed #eee;border-top:1px solid #fff;overflow: hidden;background:url(/assets/img/accordion/faq-bullet.gif) 0 18px no-repeat;}
.st-accordion ul li:first-child{border-top:none;}
.st-accordion ul li > a {font-family:'Dax Bold';font-weight:normal;text-shadow:1px 1px #E6DCD9;font-size:1.6em;line-height:60px;display:block;position:relative;outline:none;border:none;padding:0 0 0 33px;}
.st-accordion ul li > a span {background: transparent url(/assets/img/accordion/down.png) no-repeat center center;text-indent:-9000px;width:26px;height:14px;position:absolute;top:50%;right:-26px;margin-top:-7px;opacity:0;-webkit-transition:  all 0.2s ease-in-out;-moz-transition:  all 0.2s ease-in-out;-o-transition:  all 0.2s ease-in-out;-ms-transition:  all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.st-accordion ul li > a:hover {color: #049cf3;}
.st-accordion ul li > a:hover span {opacity:1;right: 10px;}
.st-accordion ul li:hover, .st-accordion ul li.st-open {background:url(/assets/img/accordion/faq-bullet-blue.gif) 0 18px no-repeat;}
.st-accordion ul li.st-open > a {color: #049cf3;}
.st-accordion ul li.st-open > a span{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);right:10px;opacity:1;}
.st-content{padding:10px 0 20px 0;}
.st-accordion ul li .st-content ul li {border:none;height:auto;}



/* ==========================================================================
   Fees & Grants
   ========================================================================== */

table.fees th {border:none;}
table.fees .col1 {width:22%}
table.fees .col2 {width:28%;font-style:italic;}
table.fees .col3 {width:17%;}
table.fees .col4 {width:17%;}
table.fees .col5 {width:17%;}



/* ==========================================================================
   Contact us
   ========================================================================== */
   
body#contact .main .left {width:47.5%;float:left;}
body#contact .main .right {width:47.5%;float:right;}
body#contact form {padding-bottom:0;margin-bottom:-15px;}
body#contact form .submit {margin-bottom:10px !important;}
body#contact hr {margin:45px 0;}
.dob {width:40px;text-align:center;margin-right:10px;margin-left:10px;}
.dob.date {margin-left:0;}
.dob.year {width:83px;margin-right:0;text-align:center;}



/* ==========================================================================
   Tours and Open Days (Forms)
   ========================================================================== */

form#opendayForm {padding-bottom:5px}

/* time picker */
.ui-timepicker-list {overflow-y: auto;height: 150px;width:100px;background: #fff;border:1px solid #ddd;margin:0;padding:0;list-style:none;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);outline: none;z-index: 10001;}
.ui-timepicker-list li {padding:4px 0 4px 7px;cursor: pointer;white-space:nowrap;color:#3F3F3F;list-style:none;margin:0;font-size:1.3em;}
.ui-timepicker-list:hover .ui-timepicker-selected {background:#fff;color:#3F3F3F;}
li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover {background:#FFDC5A;}
li.ui-timepicker-selected .ui-timepicker-duration, .ui-timepicker-list li:hover .ui-timepicker-duration {color: #ccc;}

/* date picker */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker a {webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-header a {cursor:pointer;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width:40%; height:auto; padding:0 0 0 2px; margin:0 0 0 5px;;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; width: 16px; height: 16px; background-image: url(/assets/img/jquery-ui/ui-icons_222222_256x240.png); }
.ui-state-disabled { cursor: default !important;}
.ui-datepicker-cover {position: absolute;z-index: -1;filter: mask();top: -4px;left: -4px;width: 200px;height: 200px;}
.ui-widget {font-family: Helvetica,Arial,sans-serif;font-size: 1em;}
.ui-widget .ui-widget {font-size: 1em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Helvetica,Arial,sans-serif;font-size: 1em;}
.ui-widget-content {border: 1px solid #aaa;background: #f2f1ed url(/assets/img/jquery-ui/ui-bg_fine-grain_5_f2f1ed_60x60.png) 50% 50% repeat; color:#222;}
.ui-widget-content a {color:#222;}
.ui-widget-header {border:1px solid #aaa;background: #4a2d21 url(/assets/img/jquery-ui/ui-bg_fine-grain_25_4a2d21_60x60.png) 50% 50% repeat;color:#fff;font-weight: bold; font-size:1.2em;}
.ui-widget-header a {color:#fff;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border: 1px solid #fff; background: #4a2d21 url(/assets/img/jquery-ui/ui-bg_fine-grain_10_4a2d21_60x60.png) 50% 50% repeat; font-weight: normal; color:#fff;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color:#fff;text-decoration: none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {border: 1px solid #fff; background: #794a36; font-weight: normal; color:#fff;}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color:#fff; text-decoration:none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border:1px solid #4a2d21; background:#fff url(/assets/img/jquery-ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #363636; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color:#363636;text-decoration: none;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fff; background: #794a36; color: #fff;}
.ui-widget-header .ui-icon {background-image:url(/assets/img/jquery-ui/ui-icons_ffffff_256x240.png); }
.ui-icon-circle-triangle-e {background-position:-48px -192px;}
.ui-icon-circle-triangle-w {background-position:-80px -192px;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {-moz-border-radius-topleft:4px;-webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {-moz-border-radius-topright:4px;-webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius:4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius:4px;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {-moz-border-radius-topleft: 4px;-webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius:4px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {-moz-border-radius-topright: 4px;-webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius:4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {-moz-border-radius-bottomleft: 4px;-webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius:4px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {-moz-border-radius-bottomright: 4px;-webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius:4px;}

/* IE Fix */
body#tours form {padding-bottom:0 !important;}
body#tours form .submit {margin-bottom: 5px !important;}


/* ==========================================================================
   Location
   ========================================================================== */

body#location .main h2, body#location .main h3, body#location .main h4 {margin-top:10px;}
body#location .main .left {width:35%;float:left;}
body#location .main .right {width:60%;float:right;}
#googlemap {width:613px;height:496px;background:url(/assets/img/location/map-bg.jpg) 0 0 no-repeat;margin:20px 0 40px;padding:12px 0 0 12px;}
#map_holder {height:451px;width:605px;}



/* ==========================================================================
   Sitemap
   ========================================================================== */

ul.sitemap, ul.sitemap li ul {list-style:none;}
ul.sitemap li {font-size:1.4em;margin-bottom:18px;line-height:1;background:url(/assets/img/arrow-bullet.gif) 0 2px no-repeat;padding-left:15px;}


ul.sitemap li ul {margin:12px 0 12px 12px;}
ul.sitemap li ul {font-size:.714em;}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {background-color: transparent;border: 0;overflow: hidden;*text-indent: -9999px;}
.ir:before {content: "";display: block;width: 0;height: 100%;}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.invisible {visibility: hidden;}
.clearfix:before, .clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}